@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.navbar {
  position: fixed;
  top: 0;
  background-color: white; /* Color de fondo cuando se hace scroll */
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1); /* Sombra cuando se hace scroll */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.main-nosotros {
  background: url(../Images/oficina2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
@media screen and (orientation: landscape) {
  .main-nosotros {
    height: 210vh;
  }
}

.main-index {
  background: url(../Images/terminal-clara.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
@media screen and (orientation: landscape) {
  .main-index {
    height: 220vh;
  }
}

.btn {
  display: inline-block;
  font-size: 15px;
  padding: 15px 50px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px;
  background: #45BCE9;
  border: 1px solid #45BCE9;
  color: #fff;
}
.btn :hover {
  background: #fff;
  border: 1px solid #45BCE9;
  color: #45BCE9;
}

#contact-tecnico, #contact form {
  display: block;
  width: 100%;
  padding: 0.375rem 0.7rem;
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  background-color: #F2F3F6;
  background-clip: padding-box;
  border: 1px solid #F2F3F6;
  border-radius: 0.25rem;
}
#contact-tecnico .form-group, #contact form .form-group {
  margin-bottom: 1rem;
  margin-top: 10px;
}
#contact-tecnico .label, #contact form .label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

.navbar {
  z-index: 2;
  background-color: rgba(51, 47, 175, 0.9);
  width: 94%;
}
.navbar h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 767px) {
  .nav-item {
    font-size: 20px;
  }
}
button {
  border-color: white;
}

.navbar-brand {
  width: 20%;
  height: 20%;
}

.collapse.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav .nav-item .nav-link {
  color: #ccc;
}

.navbar-nav .nav-item {
  margin: 0 5px;
}

@media screen and (min-width: 995px) {
  .logo-navbar {
    width: 50px;
    height: 50px;
  }
}

.main-index {
  margin-top: 50px;
}

.texto-venda h2 {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  color: black;
  margin: 35px 0px 0px 1px;
  text-align: center;
  font-weight: 900;
  position: relative;
}
@media screen and (min-width: 570px) {
  .texto-venda h2 {
    margin-top: 70px;
    font-size: 66px;
  }
}
@media screen and (min-width: 995px) {
  .texto-venda h2 {
    margin-top: 70px;
    font-size: 76px;
  }
}

.texto-venda p {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: black;
  margin: 15px 10px 0px 10px;
  text-align: center;
  font-weight: 200;
}
@media screen and (min-width: 570px) {
  .texto-venda p {
    margin-top: 70px;
    font-size: 46px;
    text-align: right;
  }
}
@media screen and (min-width: 995px) {
  .texto-venda p {
    margin-top: 18px;
    font-size: 28px;
    text-align: right;
  }
}

.imagen-payway {
  align-items: right;
  margin-left: 50px;
}
@media screen and (min-width: 570px) {
  .imagen-payway {
    margin-left: 80px;
  }
}
@media screen and (min-width: 995px) {
  .imagen-payway {
    width: 45%;
    height: 45%;
    margin-left: 280px;
  }
}

.boton-solicitalo {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid #ddd;
  box-shadow: 0 2px 4px gray;
  cursor: pointer;
  margin: 70px 0px 0px 100px;
}
.boton-solicitalo .btn-solicitalo:hover {
  background-color: #fff;
  border: 1px solid #45bce9;
  color: #45bce9;
}
@media screen and (min-width: 767px) {
  .boton-solicitalo {
    font-size: 32px;
  }
}
@media screen and (min-width: 995px) {
  .boton-solicitalo {
    margin: 70px 0px 0px 700px;
  }
}

.boton-solicitalo:hover {
  background-color: #fff;
  border: 1px solid #45bce9;
  color: #45bce9;
}

.main-nosotros {
  padding: 50px 20px 20px 20px;
}

.main-nosotros .slogan h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 34px;
  color: black;
  margin: 25px 0px 0px 10px;
  text-align: left;
  font-weight: 900;
}
@media screen and (min-width: 570px) {
  .main-nosotros .slogan h1 {
    margin-top: 70px;
    font-size: 46px;
  }
}
@media screen and (min-width: 995px) {
  .main-nosotros .slogan h1 {
    margin-top: 20px;
    font-size: 56px;
  }
}

.slogan h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: black;
  font-size: 25px;
  margin-top: 30px;
}
@media screen and (min-width: 570px) {
  .slogan h2 {
    font-size: 34px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 995px) {
  .slogan h2 {
    font-size: 46px;
  }
}

.info-nosotros p {
  font-family: arial, helvetica, sans-serif;
  color: black;
  font-size: 14px;
  margin-top: 30px;
}
@media screen and (min-width: 570px) {
  .info-nosotros p {
    font-size: 24px;
    margin-top: 50px;
  }
}

@media screen and (min-width: 570px) {
  #btn-nosotros {
    margin-top: 100px;
  }
}

@media screen and (min-width: 570px) {
  .btn {
    font-size: 240px;
  }
}

.main-solicitarpos {
  margin-top: 55px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.main-solicitarpos h1 {
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: whitesmoke;
  font-size: 20px;
  margin: 20px 0 0 15px;
  padding: 5px;
  border: 1px solid #6196be;
  background-color: #6196be;
}
@media screen and (min-width: 600px) {
  .main-solicitarpos h1 {
    font-size: 32px;
  }
}
.main-solicitarpos .texto-solicitarpos {
  background-image: url(../Images/venta.jpg);
  background-repeat: no-repeat;
  margin-top: 10px;
  width: 350px;
  height: 450px;
  opacity: 0.8;
  position: relative;
}
@media screen and (min-width: 570px) {
  .main-solicitarpos .texto-solicitarpos {
    margin: 10px 0 0 20px;
    width: 800px;
    opacity: 0.9;
    position: static;
  }
}
.main-solicitarpos .texto-solicitarpos .solucion {
  display: block;
  text-align: left;
  color: #f0f0f0;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  margin: 40px 0 0 15px;
  font-weight: bold;
  text-shadow: #000;
}
@media screen and (min-width: 600px) {
  .main-solicitarpos .texto-solicitarpos .solucion {
    font-size: 32px;
  }
}
.main-solicitarpos .texto-solicitarpos .solucion span {
  display: block;
}

#contact h2 {
  margin-top: 10px;
  font-family: verdana, geneva, tahoma, sans-serif;
  font-size: 25px;
}

@media screen and (min-width: 570px) {
  #contact form {
    width: 500px;
  }
}

.servicio-tecnico {
  padding: 10px 30px 20px 10px;
  display: block;
  width: 100vw;
  background-color: #F7F7F7;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  justify-content: center;
  text-align: center;
  margin: 5px;
}
@media screen and (min-width: 570px) {
  .servicio-tecnico {
    text-align: center;
    margin-top: 15px;
    padding: 20px;
  }
}
.servicio-tecnico h1 {
  font-size: 32px;
  margin-top: 60px;
  color: #1076B2;
}
@media screen and (min-width: 570px) {
  .servicio-tecnico h1 {
    font-size: 64px;
  }
}
.servicio-tecnico p {
  font-size: 16px;
  font-style: italic;
}
@media screen and (min-width: 570px) {
  .servicio-tecnico p {
    font-size: 26px;
  }
}
.servicio-tecnico span {
  display: block;
  color: #E7296E;
  margin-top: 20px;
}
@media screen and (min-width: 570px) {
  .servicio-tecnico span {
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
.servicio-tecnico img {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  align-items: center;
  margin-right: 30px;
}
@media screen and (min-width: 570px) {
  .servicio-tecnico img {
    width: 400px;
    height: 320px;
  }
}
@media screen and (min-width: 995px) {
  .servicio-tecnico img {
    width: 550px;
    height: 350px;
  }
}

#contact-tecnico {
  text-align: center;
}
@media screen and (min-width: 570px) {
  #contact-tecnico {
    width: 600px;
    margin-top: 20px;
    margin-left: 100px;
  }
}
@media screen and (min-width: 995px) {
  #contact-tecnico {
    width: 600px;
    margin-top: 20px;
    margin-left: 300px;
  }
}
#contact-tecnico #motivo {
  font-size: 24px;
  font-weight: 900;
}

@media screen and (min-width: 995px) {
  .main-descargas {
    margin: 70px 30px 20px 20px;
  }
}

.main-descargas .descargas {
  margin: 70px 20px 20px 20px;
  background-color: #6196be;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: arial, helvetica, sans-serif;
}
.main-descargas .descargas h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.main-descargas .descargas .descripcion {
  font-size: 24px;
  text-decoration: wavy;
  text-decoration: underline;
  margin-bottom: 5px;
}
.main-descargas .descargas #informacion {
  font-size: 20px;
  font-style: italic;
}

.botones-descargas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 600px) {
  .botones-descargas {
    font-size: 24px;
    transform: scale(1, 1);
  }
}

.boton-terminal {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ccc;
  text-decoration: none;
  border-radius: 50px;
  margin-bottom: 10px;
}
@media screen and (min-width: 600px) {
  .boton-terminal {
    font-size: 18px;
  }
  .boton-terminal:hover {
    transform: scale(1.5);
  }
}
.boton-terminal:hover {
  background-color: #0056b3;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
  gap: 40px;
}

.text-uppercase {
  font-size: 16px;
}
@media screen and (min-width: 767px) {
  .text-uppercase {
    font-size: 20px;
  }
}

footer p {
  font-size: 14px;
}
@media screen and (min-width: 767px) {
  footer p {
    font-size: 16px;
  }
}

@media screen and (min-width: 767px) {
  footer .imagen-itc {
    width: 60%;
    height: 60%;
  }
}
@media screen and (min-width: 576px) {
  footer .imagen-itc {
    width: 110;
    height: 110;
  }
}

.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 20px;
}

.large {
  font-size: 1.25rem;
}

.btn {
  display: inline-block;
  font-size: 15px;
  padding: 15px 50px;
  margin: 30px 30px 0px 30px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px;
}

.btn-light {
  background: #45BCE9;
  border: 1px solid #45BCE9;
  color: #fff;
}

.btn-light:hover {
  background: #fff;
  border: 1px solid #45BCE9;
  color: #45BCE9;
}

#showcase h1 {
  padding-left: 300px;
}

#showcase h1 span {
  font-weight: 300;
}

#showcase p {
  padding-left: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#showcase .btn {
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
