/* propiedades de reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*color de fondo del body*/
body{
    background-color: #F5F4E3;
}

/*estilos del index del header y navbar ,adicionales a los que vienen con boostrap*/
.navbar {
    background-color: #F5F4E3;
  }
.navbar-brand {
    width: 10%;
    height: 70%;
}
.collapse.navbar-collapse {
    display: flex;
    justify-content: flex-end;
  }



/*estilos de main del index */

main{
    display: flex;
    align-items: center;
    margin: 10px;
    
    
}
main .img-pos-payway{
    float: right;
    margin-left: 5px;
    width: 80%;
    height: 80%;
    align-items: center;
    
}
main .texto-uno{
    text-align: left;
    float: left;
    width: 40%;
}
main .texto-uno p{
    font-size: 12px;
    font-weight: bold;
    text-shadow: #000;

}
main .texto-uno h1{
    margin: 20px 0px;
    text-decoration-line: underline;
    color: #0056b3;
    
}
main a{
    font-size: 10px;
    background-color: #1BB4A8;
    text-align: center;
    text-decoration: white;
    font-weight: bold;
    border: 1px solid #ccc; 
    margin: 8px;
    padding: 8px;
}
main a:hover{
    color: #fff;
    background-color: #000;
}
/*estilos del main-nosotros*/
.main-nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin: 10px 20px; 
}
.main-nosotros img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}
.main-nosotros P:nth-child(1){
    grid-column: 1;
    grid-row: 2;
}
.main-nosotros p:nth-child(2){
    grid-column: 2;
    grid-row: 3;
}
.main-nosotros p:nth-child(3){
    grid-column: 1;
    grid-row: 4;
}
.main-nosotros img:nth-child(1){
    grid-column: 2;
    grid-row: 2;
}
.main-nosotros img:nth-child(2){
    grid-column: 1;
    grid-row: 3;
}
.main-nosotros img:nth-child(3){
    grid-column: 2;
    grid-row: 4;
    }
/*estilos textos contacto comercial*/

.section-uno {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
    padding: 20px;
    background-image: url(../Images/tarjetamano.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.section-uno .contacto-comercial {
    text-align: center;
    padding-right: 10px;

}
.section-uno .contacto-comercial .texto-central{
    color: #1BB4A8;
    font-size: 20px;
    font-weight: bold;
    text-shadow: #000;
    margin-bottom: 40px;
    text-decoration: underline;
    

}
.section-uno .contacto-comercial .texto-operar{
    display: block;
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-shadow: white;
    margin: 30px 0px 30px 0px;
}
.section-uno .contacto-comercial h2{
    display: block;
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-shadow: white;
    margin-top: 15px;
}
.section-uno .contacto-comercial h2 span{
    display: block;
    text-decoration: underline;
}

/*estilo del formulario de contacto*/
.form-contacto{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px auto;
    border: 1px solid whitesmoke;
    padding: 20px;
    border-radius: 5px;
    background-color: #1BB4A8;
}
.form-contacto label{
    font-weight: bold;
    margin-bottom: 5px;
}
.form-contacto input{
    width: 100%;
    padding: 5px;
    border: 1 px solid #ddd;
    border-radius: 3px;
    background-color: #ddd;
}
.form-contacto textarea{
    width: 100%;
    height: 100px;
    padding: 5px;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.enviar {
    background-color: #1BB4A8;
    color: white;
    font-weight: bold;
    width: 50%;
    padding: 10px;
    margin: 0px 0px 5px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
/* Efectos al pasar el mouse por sobre el botón enviar*/
  
.enviar:hover {
    background-color: #0056b3;   
  }


/* estilos formulario trabaja con Nosotros*/
.section-dos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-image: url(../Images/trabajando.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-dos .section-dos-textos h3{
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: #000;
    margin-right: 5px;
    margin-bottom: 100px;
}
.section-dos .section-dos-textos h4{
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: #000;
    margin-right: 5px;
    margin-top: 100px;
}
.section-dos .section-dos-textos p{
    text-decoration: underline;
    margin: 30px 0px 30px;
    font-size: 16px;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: #000;
    margin-right: 5px;
    margin: auto;
    text-align: left;

}
.form-trabaja{
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 10px auto;
    border: 2px solid whitesmoke;
    padding: 20px;
    border-radius: 2px;
    background-color: #AC886A;
    font-size: 10px;
}
.form-trabaja label{
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-trabaja input{
    width: 100%;
    padding: 5px;
    border: 1 px solid #ddd;
    border-radius: 3px;
    background-color: #ddd;
    
}
.form-trabaja textarea{
    width: 100%;
    height: 100px;
    padding: 5px;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.enviar-cv {
    background-color: #AC886A;
    color: white;
    font-weight: bold;
    width: 50%;
    padding: 10px;
    margin: 0px 0px 5px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
/* Efectos al pasar el mouse por sobre el botón enviar*/
  
.enviar-cv:hover {
    background-color: #0056b3;   
  }
/*efectos del footer adicionales a los de boostrap*/

footer{
    background-color: #F5F4E3;
    
}
.logo-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 40px;
}
/*mq de mobile para el main-nosotros*/
@media screen and (max-width: 400px){
    .main-nosotros{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr)
    }
    .main-nosotros h1{
        grid-column: span 2;
    }
    .main-nosotros p{
        grid-column: span 2;
    }
    .main-nosotros img{
        grid-column: span 2;
    }
}

/*mq de tables*/

@media screen and (min-width: 600px){
    .main-nosotros{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        
    }
    .main-nosotros h1{
        grid-column: span 2;
        text-align: center;
        text-decoration: underline;
        text-shadow: #ccc;
        font-size: 50px;
        font-style: oblique;
    }
    .main-nosotros p{
        font-size: 12px;
    
    }   
    .form-contacto{
        width: 400px;
        margin: 10px auto;
        padding: 20px;   
    }
    main .texto-uno p{
        font-size: 14px;    
    }
    main .texto-uno h1{
        font-size: 35px;
    }
    .form-trabaja{
        width: 300px
    }
}

/*mq de desktop*/

@media screen and (min-width: 995px){
    main .texto-uno p{
        font-size: 18px;
    
    }
    main .texto-uno h1{
        font-size: 45px;
    }
    main a{
        font-size: 16px;        
    } 
    
    .section-uno .contacto-comercial .texto-central{
        font-size: 30px;
        margin-bottom: 70px;  
    }
    .section-uno .contacto-comercial .texto-operar{
        font-size: 24px;
        margin: 60px 0px 60px 0px;
    }
    .section-uno .contacto-comercial h2{
        font-size: 24px;
        margin-top: 25px;
    }
      
    .form-contacto{
        width: 500px;
    }
    .form-trabaja{
        width: 600px;   
        
    }
    .section-dos .section-dos-textos{
        font-size: 250px;
        text-align: center;
        margin-left: 45px;
        
    }
    .main-nosotros{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        
    }
    .main-nosotros p{
        font-size: 20px;
    }

}



