//imports de sass//

@import "../SCSS/utilitys/mixin";
@import "../SCSS/utilitys/variables";
@import "../SCSS/utilitys/extend";

//propiedades de reset

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//color de fondo del body//

body{
    background-color: $color-body;
}

//estilos navbar adicionales a boostrap//

.navbar {
    background-color: $color-body;
    @media screen and (min-width: 600px){
      border-bottom: 2px solid gray;
      .navbar ul{
        font-size: 18px;
        font-weight: 600;        
        }
        .navbar-nav .nav-item .nav-link{
        color: #ccc;
        }
        .navbar-nav .nav-item{
        margin: 0 5px;
        }
        .navbar-nav .nav-link{
        padding: 10px 15px;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: #332FAF;
        transition: background-color 0.3s ease;
        &:hover{
          transform: scale(1.5);
      }
        }
    }
    .navbar-brand {
        width: 10%;
        height: 70%;
    }
    
    .collapse.navbar-collapse {
        justify-content: flex-end;
      }    
}

//estilos del main-index//

.main-index{
    @include flex-1;
    padding: 50px 20px;
    h1{
      font-family: $font-principal;
      font-size: 40px;
      margin-bottom: 20px;
      color: $color-logo;
      text-shadow: $color-border;
    }
    h1{
      @media screen and (min-width: 600px){
        font-size: 64px;
      }  
     }
  }

  .texto-uno p{
      font-family: $font-principal;
      font-size: 20px;
      margin-bottom: 20px;
      font-style: italic;
      @media screen and (min-width: 600px){
        font-size: 32px;
      }
    }
  #acepte{
        color: grey;
        font-size: 24px;
        @media screen and (min-width: 600px){
          font-size: 40px;
    }
  }
  .img-pos-payway {
        position: relative;
      
    img {
        max-width: 100%;
        height: auto;
        margin: auto;
        @media screen and (min-width: 600px){
          width: 1300px
      }
    }
  }
  .boton-circular {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: $color-formulario-1; 
        color: $color-textos-2;
        @include flex-2;
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        left: 20px; /* Alineado a la izquierda de la imagen */
        perspective: 1000px;
        transform-style: preserve-3d;
        transition: transform 0.6s;
    
      &:hover {
        transform: rotateY(180deg);
      }
     
      .atras{
        background-color: #6196BE; /* Mismo color de fondo que la cara frontal */
        color: white;
        transform: rotateY(180deg);
        }
      .frente, .atras {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        @include flex-3;
        border-radius: 50%; /* Hace que el botón sea circular en ambas caras */ 
        @media screen and (min-width: 750px){
          font-size: 32px;
        }
      }
    }
    .boton-circular{
      @media screen and (min-width: 600px){
        width: 200px; 
        height: 200px;
        transform-style: preserve-3d;
        transition: transform 0.6s;
        }       
      }   



// estilo del textos y formulario contacto comercial

.section-uno{
  @include fondo-form;
  background-image: url(../Images/tarjetamano.jpg);


  .form-contacto{
    @extend %formulario;
    width: 200px;
    background-color: $color-formulario-2;
    opacity: 0.8;
    @media screen and (min-width: 600px){
      width: 300px;
    }
  }
  .contacto-comercial{
    text-align: center;
    padding-right: 10px;
    z-index: 1;
    .texto-central{
      color: $color-textos-1;
      font-size: 20px;
      font-weight: 900;
      text-shadow: $color-text-shadow-2;
      margin-bottom: 40px;
      text-decoration: underline;
      @media screen and (min-width: 600px){
        font-size: 30px;
        margin-bottom: 70px;
      }
    }
    .texto-operar{
      display: block;
      color: $color-textos-1;
      font-size: 14px;
      font-weight: 900;
      text-shadow: $color-text-shadow-1;
      margin: 30px 0px 30px 0px;
      @media screen and (min-width: 600px){
        font-size: 24px;
        margin-bottom: 60px 0px 60px 0px;
      }
    }
    h2{
      display: block;
      color: $color-texto-contacto-comercial;
      font-size: 16px;
      font-weight: 900;
      text-shadow: $color-text-shadow-1;
      margin-top: 15px;
      @media screen and (min-width: 600px){
        font-size: 24px;
        margin-top: 25px;
      }
      span{
        display: block;
        text-decoration: underline;
      }
    }
  }
  .enviar{
    @extend %enviar;
    background-color: $color-formulario-2;
  }
}


//estilos del main-nosotros

.main-nosotros .slogan h1{
  font-family: $font-itc;
  font-size: 32px;
  color: $color-logo;
  text-align: center;
  font-weight: 900;
  @media screen and (min-width: 600px){
    margin-top: 10px;
    font-size: 46px;
  }
  @media screen and (min-width: 995px){
    margin-top: 20px;
    font-size: 80px;
  }    
}

.slogan h2{
    @include flex-4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100px;
    background-image: url(../Images/fondo-nosotros.jpg);
  }


.info-nosotros{
  @media screen and (min-width: 600px) {
    font-size: 24px;
    margin-top: 50px;
  }
  @extend %grid-nosotros-sm;
  
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }
}

//estilos textos y formulario trabaja con Nosotros

.trabaja-nosotros{
  .trabaja-nosotros-textos{
    h3{
      @media screen and (min-width:600px) {
        font-size: 54px;
      }
      @include textos-nosotros; 
    }
    p{
      @media screen and (min-width:600px) {
        font-size: 46px;
      }
      @include textos-nosotros;
    }
  }
  .icon-cv{
    text-align: center;
    margin-bottom: 10px;
  }
}
.section-form-trabaja{
  @include fondo-form;
  background-image: url(../Images/trabajando.jpg);
}
.form-trabaja{
  @extend %formulario;
  width: 200px;
  background-color: $color-formulario-3;
  opacity: 0.9;
  @media screen and (min-width:995px){
    width: 450px
  }
}
.enviar-cv{
  @extend %enviar;
  background-color: $color-formulario-3
}

//estilos de los textos del main Solicitar POS

.main-solicitarpos{
  @include flex-4;
  flex-direction: column;
  h1{
    @include textos-adhierase;
  }
  h4{
    @include textos-formadhesion;
  }
  .texto-solicitarpos{ 
    background-image: url(../Images/venta.jpg);
    background-repeat: no-repeat;
    margin-top: 10px;
    width: 350px;
    height: 450px;
    opacity: 0.8;
    position: relative;
    @media screen and (min-width: 600px){
      margin: 10px 0 0 20px;
      width: 800px;
      opacity: 0.9;
      position:static;
    }
    .solucion{
      @include textos-solucion;
      span{
        display: block;
      }
    }
  } 
}
  .beneficios{
  @extend %container-beneficios;
  @include beneficios-p;
  }


// formulario adhesion

.form-adhesion{
  width: 300px;
  @extend %formulario;
  background-color: $color-formulario-1;
  @media screen and (min-width: 600px){
    width: 800px;
  }
}
.enviar{  
  @extend %enviar;
  background-color: $color-formulario-1;
}

//main servicio tecnico

.servicio-tecnico{
  @media screen and (min-width: 600px){
    text-align: center;
    margin-top: 15px;
  }
  @include textos-servicio-tecnico;
  h1{
    font-size: 32px;
    @media screen and (min-width: 600px){
      font-size: 64px;
    }
  }
  p{
    font-size: 18px;
    font-style: italic;
  }
  span{
    display: block;
    text-decoration: underline;
    margin-top: 20px;
  }
}

 //formulario servicio tecnico
 
.form-motivo-contacto{
  @extend %formulario;
  width: 320px;
  background-color: $color-formulario-1;
  @media screen and (min-width: 600px){
    width:600px;
    margin-left: 40px;
  }
}
.motivo-enviar{
  @extend %enviar;
  width: 100px;
  background-color: $color-formulario-1;
  margin-left: 20px;
  @media screen and (min-width: 600px){
    width:600px;
    margin-left: 40px;
} 
}

.form-tecnico{
  @extend %formulario;
  width: 320px;
  background-color: $color-formulario-1;
  @media screen and (min-width: 600px){
    width:600px;
    margin-left: 40px;
  }
}
.tecnico-enviar{
  @extend %enviar;
  width: 100px;
  background-color: $color-formulario-1;
  margin-left: 20px;
  @media screen and (min-width: 600px){
    width:600px;
    margin-left: 40px;
  }
}

// estilos main descargas

.main-descargas .descargas{
  @include main-descargas;
  h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .descripcion{
    font-size: 24px;
    text-decoration:wavy;
    text-decoration: underline;
    margin-bottom: 5px;
  }
  #informacion{
    font-size: 20px;
    font-style: italic;
  }
}

//estilo botones descargas

.botones-descargas{
  @include btn-descargas;
}
.boton-terminal{
  @include btn-terminal;
  &:hover{
    background-color: #0056b3;
  } 
}
.logo-container{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 40px;
}
  

 



  
     




