//imports de sass//

@import "../SCSS/utilitys/mixin";
@import "../SCSS/utilitys/variables";
@import "../SCSS/utilitys/extend";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

//propiedades de reset

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//color de fondo del body//

body{
    background-color: $color-body1;
}

//estilos navbar adicionales a boostrap

//
a{
  text-decoration: none;
}
.navbar {
    @extend %scroll;
    z-index: 2;
    background-color: $color-logo;
    padding: 5px;
    width: 94%;
   
    
    h1{
      font-family:'Times New Roman', Times, serif;
      font-weight: bolder;
      color: $color-body1;
      text-decoration: none;
      }
    }
@media screen and (min-width: 767px) {
    .nav-item{  
      font-size: 20px;
    }
  }
button{
  border-color: $color-body1;
  } 
    
.navbar-brand {
    width: 20%;
    height: 20%;
    }

.collapse.navbar-collapse {
    justify-content: flex-end;
    }
.navbar-nav .nav-item .nav-link{
    color: #ccc;
    }
.navbar-nav .nav-item{
    margin: 0 5px;
    }
.logo-navbar{
  @media screen and (min-width: 995px){
    width: 50px;
    height: 50px;
  }
    
}


//estilos del main-index//

.main-index{
  @extend %bg-img1;}
.texto-venda h2{
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  color: $color-body;
  margin: 35px 0px 0px 10px;
  text-align: center;
  font-weight: 900;
  @media screen and (min-width: 570px){
    margin-top: 70px;
    font-size: 66px;
  }
  @media screen and (min-width: 995px){
    margin-top: 20px;
    font-size: 76px;
  }
}
  .texto-venda p{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: $color-body;
  margin: 15px 0px 0px 10px;
  text-align: center;
  font-weight: 900;
  @media screen and (min-width: 570px){
    margin-top: 70px;
    font-size: 46px;
  }
  @media screen and (min-width: 995px){
    margin-top: 18px;
    font-size: 28px;
    color: $color-body;
  }
  }
  .imagen-payway{
    z-index: 1;
    align-items: center;
    margin: 30px;
    @media screen and (min-width: 570px){
      margin-left: 80px;
    }
    @media screen and (min-width: 995px){
      width: 45%;
      height: 45%;
      margin-left: 280px;
    }
  }
  .boton-solicitalo{
      @include btn-solicitalo;
      margin: 70px 0px 0px 100px;
      @media screen and (min-width: 767px){
        font-size: 32px;
      }
      @media screen and (min-width: 995px){
        margin: 70px 0px 0px 700px;
      }
  }

//estilos del main-nosotros

.main-nosotros{
  @extend %bg-img;
}
.main-nosotros .slogan h1{
  font-family: $font-itc;
  font-size: 34px;
  color: black;
  margin: 25px 0px 0px 10px;
  text-align: left;
  font-weight: 900;
  @media screen and (min-width: 570px){
    margin-top: 70px;
    font-size: 46px;
  }
  @media screen and (min-width: 995px){
    margin-top: 20px;
    font-size: 56px;
  }    
}

.slogan h2{
    font-family: $font-itc;
    text-align: center;
    color: black;
    font-size: 25px;
    margin-top: 10px;
    @media screen and (min-width: 570px){
      font-size: 34px;
      margin-top: 30px;
    }
    @media screen and (min-width: 995px){
      font-size: 46px;
    }
    }

.info-nosotros p{
  font-family: $font-principal;
  color: black;
  font-size: 14px;

  @media screen and (min-width: 570px) {
    font-size: 24px;
    margin-top: 50px;
  }
}
.btn{
  @extend %btn;
  @media screen and (min-width: 570px){
    font-size: 90px;
  }
}
//estilos de los textos del main Solicitar POS

.main-solicitarpos{
  margin-top: 55px;
  @include flex-4;
  flex-direction: column;
  h1{
    @include textos-adhierase;
  }
  
  .texto-solicitarpos{ 
    background-image: url(../Images/venta.jpg);
    background-repeat: no-repeat;
    margin-top: 10px;
    width: 350px;
    height: 450px;
    opacity: 0.8;
    position: relative;
    @media screen and (min-width: 570px){
      margin: 10px 0 0 20px;
      width: 800px;
      opacity: 0.9;
      position:static;
    }
    .solucion{
      @include textos-solucion;
      span{
        display: block;
      }
    }
  } 
}

// formulario adhesion
#contact h2{
  margin-top: 10px;
  font-family: $font-secundaria;
  font-size: 25px;
}
#contact form{
  @extend %form;
  @media screen and (min-width: 570px){
    width: 500px;
  }
}

//main servicio tecnico

.servicio-tecnico{
  @media screen and (min-width: 570px){
    text-align: center;
    margin-top: 15px;
  }
  @include textos-servicio-tecnico;
  h1{
    font-size: 32px;
    @media screen and (min-width: 570px){
      font-size: 64px;
    }
  }
  p{
    font-size: 18px;
    font-style: italic;
  }
  span{
    display: block;
    text-decoration: underline;
    margin-top: 20px;
  }
}

 //formulario servicio tecnico
 
.form-motivo-contacto{
  @extend %formulario;
  width: 320px;
  background-color: $color-formulario-1;
  @media screen and (min-width: 570px){
    width:600px;
    margin-left: 40px;
  }
}
.motivo-enviar{
  @extend %enviar;
  width: 100px;
  background-color: $color-formulario-1;
  margin-left: 20px;
  @media screen and (min-width: 570px){
    width:600px;
    margin-left: 40px;
} 
}

.form-tecnico{
  @extend %formulario;
  width: 320px;
  background-color: $color-formulario-1;
  @media screen and (min-width: 570px){
    width:600px;
    margin-left: 40px;
  }
}
.tecnico-enviar{
  @extend %enviar;
  width: 100px;
  background-color: $color-formulario-1;
  margin-left: 20px;
  @media screen and (min-width: 570px){
    width:600px;
    margin-left: 40px;
  }
}

// estilos main descargas

.main-descargas .descargas{
  @include main-descargas;
  h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .descripcion{
    font-size: 24px;
    text-decoration:wavy;
    text-decoration: underline;
    margin-bottom: 5px;
  }
  #informacion{
    font-size: 20px;
    font-style: italic;
  }
}

//estilo botones descargas

.botones-descargas{
  @include btn-descargas;
}
.boton-terminal{
  @include btn-terminal;
  &:hover{
    background-color: #0056b3;
  } 
}
.logo-container{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 40px;
}
//estilos adicionales al footer

.logo-container{
  align-items: center;
}
.text-uppercase{
  font-size: 16px;
  @media screen and (min-width: 767px) {
    font-size: 20px;
  }
}
footer p {
  font-size: 14px;
  @media screen and (min-width: 767px) {
    font-size: 16px;}
  }
footer .imagen-itc{
  @media screen and (min-width: 767px){
    width: 60%;
    height: 60%;
  }
  @media screen and (min-width: 576px){
    width: 110;
    height: 110;
  }
}

//estilos prueba

/* Header */
#mainheader {
  background: url(../Images/oficina2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 50px;
}
#showcase{
  margin-top: 30px;
}
h1{ 
  font-size: 2.5rem;
  font-weight: bolder;  
}
h2 { 
  font-size: 2rem; 
  font-weight: 300;
}

p {
  font-size: 0.5rem;
  margin: 10px 0;
  line-height: 1.7em;
}


.container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
  }
  
.large { font-size: 1.25rem; }
  
.btn {
  display: inline-block;
  font-size: 15px;
  padding: 15px 50px;
  margin: 30px 30px 0px 30px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px;
  }
  
.btn-light {
  background: #45BCE9;
  border: 1px solid #45BCE9;
  color: #fff;
}
  
.btn-light:hover {
  background: #fff;
  border: 1px solid #45BCE9;
  color: #45BCE9;
  }
    
  #showcase h1 {
    padding-left: 300px;
  }
  
  #showcase h1 span {
    font-weight: 300;
  }
  
  #showcase p {
    padding-left: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  #showcase .btn {
    text-transform: uppercase;
  }








 



  
     




