%scroll{
  position: fixed;
  top: 0;
  background-color: white; /* Color de fondo cuando se hace scroll */
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1); /* Sombra cuando se hace scroll */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

%bg-img{
  background: url(../Images/oficina2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  @media screen and (orientation: landscape) {
    height: 210vh;
  }
  
}
%bg-img1{
  background: url(../Images/terminal-clara.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  @media screen and (orientation: landscape) {
    height: 220vh;
  }
}

%btn{
  display: inline-block;
  font-size: 15px;
  padding: 15px 50px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px;
  background: #45BCE9;
  border: 1px solid #45BCE9;
  color: #fff;
  :hover{
    background: #fff;
    border: 1px solid #45BCE9;
    color: #45BCE9;
  }
}
%form{
  display: block;
  width: 100%;
  padding: 0.375rem 0.7rem;
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  background-color: #F2F3F6;
  background-clip: padding-box;
  border: 1px solid #F2F3F6;
  border-radius: 0.25rem;
  .form-group{
    margin-bottom: 1rem;
    margin-top: 10px;
  }
  .label{
    display: inline-block;
    margin-bottom: 0.5rem;
}
  }

