@mixin flex-1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 75px;
    
}
@mixin flex-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin flex-3{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-4{
    display: flex;
    text-align: center;
    align-items: center;
}
@mixin img-pos{
    margin-right: 10px;
    @media screen and (min-width: 575px) {
        margin-top: 20px;
    }
    position: relative;
    z-index: 1;    
}
@mixin fondo-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin textos-nosotros{
    font-family: $font-itc;
    font-size: 24px;
    font-weight: 600;
    color: $color-textos-1;
    text-shadow: $color-text-shadow-2;
    margin-top: 30px;
    text-align: center;
}
@mixin textos-adhierase{
    font-family: $font-itc;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-textos-2;
    font-size: 20px;
    @media screen and (min-width:600px) {
        font-size: 32px;
    }
    margin: 20px 0 0 15px;
    padding: 5px;
    border: 1px solid $color-formulario-1;
    background-color: $color-formulario-1;
}
@mixin textos-solucion{
    display: block;
    text-align: left;
    color: $color-bg-navlink;
    font-size: 22px;
    font-family: $font-itc;
    margin: 40px 0 0 15px;
    font-weight:bold;
    text-shadow: $color-text-shadow-2;
    @media screen and (min-width: 600px){
        font-size: 32px;
    }
}

@mixin textos-servicio-tecnico{
    display: block;
    width: 100vw;
    background-color: #F7F7F7;
    font-family: $font-servicio-tecnico;
    justify-content: center;
    text-align: center;
    margin: 5px;
}
@mixin main-descargas{
    margin: 70px 20px 20px 20px;
    padding: 20px;
    background-color: $color-formulario-1;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: $font-principal;
}
@mixin btn-solicitalo{
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid #ddd;
    box-shadow: 0 2px 4px gray;
}
@mixin btn-descargas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    @media screen and (min-width: 600px){
        font-size: 24px;
        transform: scale(1,1);
    }
}
@mixin btn-terminal{
    display: inline-block;
    padding: 10px 20px;
    background-color: $color-boton-terminal;
    color: $color-text-shadow-1;
    text-decoration: none;
    border-radius: 50px;
    margin-bottom: 10px;
    @media screen and (min-width: 600px){
        font-size: 18px;
        &:hover{
            transform: scale(1.5);
        }
    }
}