// colores //

$color-body: #dfe0e6;
$color-body1: white;
$color-logo: rgb(51, 47, 175, 0.9);
$color-text-shadow-1: #ccc;
$color-text-shadow-2: #000;
$color-formulario-1:#6196be;
$color-formulario-2: #74c0ba;
$color-formulario-3: #ac886a;
$color-textos-1: black;
$color-textos-2: whitesmoke;
$color-textos-3: #1076B2;
$color-textos-4: #E7296E;
$color-acepte: grey;
$color-border: #ddd ;
$color-boton-terminal: #007bff;
$color-bg-navlink: #f0f0f0;

//fonts//

$font-principal: arial, helvetica, sans-serif;
$font-secundaria: verdana, geneva, tahoma, sans-serif;
$font-itc: 'Times New Roman', Times, serif;
$font-slogan: 'Montserrat', sans-serif;
$font-servicio-tecnico: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;






