// colores //

$color-body: #F5F4E3;
$color-logo: #332FAF;
$color-text-shadow-1: #ccc;
$color-text-shadow-2: #000;
$color-formulario-1:#6196be;
$color-formulario-2: #74c0ba;
$color-formulario-3: #ac886a;
$color-textos-1: black;
$color-textos-2: whitesmoke;
$color-texto-contacto-comercial: #1bb4a8;
$color-acepte: grey;
$color-border: #ddd;
$color-boton-terminal: #007bff;
$color-bg-navlink: #f0f0f0;

//fonts//

$font-principal: arial, helvetica, sans-serif;
$font-secundaria: verdana, geneva, tahoma, sans-serif;
$font-itc: 'Courier New', Courier, monospace;
$font-slogan: garamond;
$font-servicio-tecnico: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;






